<%# The view that all normal players see during the game%>
<%# Testing game with id: 57fd224005f68aaf34958380%>
<h1>This is the Game Page for Non-pickers</h1>

<p>game: <%=game%></p><br>
<p>Current user: <%=currentUser%></p><br>
<p>All users: <%game.users.forEach(function(el){%>
    <%=el%>
<%})%></p>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#photoModal">
  Submit a Photo
</button>

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Search</h4>

        <%# Search Section%>

        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle text-center" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Find Image
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li id="google" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">Google</li>
            <li id="directUrl" class="dropdown-toggle">URL</li>
          </ul>
          <input class="word"type="text" name="name" value=""></input>
          <button class="search">Find</button><br>
        </div>

      </div>
      <div id="gallery" class="modal-body">






            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$('#google').on('click', function(){
  var text = $('#google').text()
  $('#dropdownMenu1').text(text)
})

$('#directUrl').on('click', function(){
  var text = $('#directUrl').text()
  $('#dropdownMenu1').text(text)
})

$('.search').on('click', function(evt){
      evt.preventDefault();
      $('#gallery').html("")
      var word = $('.word').val();
      var html = "";
      if($('#dropdownMenu1').text()=="Google"){
      $.ajax({
        method: 'GET',
        url: '/google/'+ word
      }).done(function(data){
        $('#gallery').append(data);
      })
    } else if ($('#dropdownMenu1').text()=="URL") {
      $('#gallery').append('<img src="'+word + '">' )
      }
    })
</script>
