<%# View that the Picker sees during the game%>

<h1 id="picker"><%=user%></h1>



<script type="text/javascript">
  console.log("game page working")
  var $picker = $('#picker')
  var picker;

Game.c

  if(Use)

  $picker.append()

</script>
