<%# The view that all normal players see during the game%>
<%# Testing game with id: 57fd224005f68aaf34958380%>
<h1>This is the Game Page for Non-pickers</h1>

<p>game: <%=game%></p><br>
<%=currentUser%>
