<%# View that the Picker sees during the game%>

<h1 id="picker"><%=user%></h1>


<div class="row">

  <div class="col-lg-offset-3 col-lg-6">
    <div class="input-group">

      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">reload</button>
      </span>
      <input type="text" class="form-control" placeholder="Word generated">

      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">submit</button>
      </span>

    </div>
  </div>
</div>


<%# ajax pull for word generator api%>
<script type="text/javascript">


  console.log("game page working")
  var $picker = $('#picker')
  var picker;

Game.c

  if(Use)

  $picker.append()

</script>
