<h1 class="text-center">Members</h1>

<button class="addMember" type="button"> Add Members</button> <br>
<button class="removeMember"type="button"> Kick Member Out</button> <br>
<div class="text-center">
  <%game.users.forEach(function(u){%>
    <div class="userName" user="<%=u.local._id%>">
      <%=u.local.name%>
    </div>
  <%})%>
</div>

<script type="text/javascript">
  $('.addMember').on('click', function(){

    $.ajax({

    })
  })







</script>
