<h1 class="text-center">Member's Page</h1>

<button type="button" name="Add Members"> Add Members</button> <br>
<input type="button" name="name" value="" id="add-members-text"> <br>

<div class="members-list">

<%=game.users%>


</div>

<script type="text/javascript">
$()




</script>
