<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Member's Page</title>
    <script src="/js/lib/jquery.js"></script>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">

  </head>

  <body>
    <h1 class="text-center">Member's Page</h1>

    <button type="button" name="Add Members"> Add Members</button>

    <div class="control-group">
        <label class="search" for="keyword">Search : </label>

        <div class="controls">
            <input type="text" class="span6" name="keyword" id="keyword">
        </div>

    </div>

    <div id="image_canvas" style="width:530px; height:300px"></div>

<script type="text/javascript">

</script>
  </body>
</html>
