<<<<<<< HEAD
<h1 class="text-center">Member's Page</h1>

<button type="button" name="Add Members"> Add Members</button> <br>
<input type="button" name="name" value="" id="add-members-text"> <br>

<div class="members-list">

<%=game.users%>


=======
<h1 class="text-center">Members</h1>

<button type="button"> Add Members</button> <br>
<div class="text-center">
  <%game.users.forEach(function(u){%>
    <div class="userName">
      <%=u.local.name%>
    </div>
  <%})%>
>>>>>>> 061026ad31665437f4d21ec90ff83a8ba4e2f429
</div>

<script type="text/javascript">
$()




</script>
