
<h1 class="text-center">Members</h1>

<button type="button"> Add Members</button> <br>
<div class="text-center">
  <%game.users.forEach(function(u){%>
    <div class="userName">
      <%=u.local.name%>
    </div>
  <%})%>

</div>

<script type="text/javascript">
$()




</script>
