<h1>This is the new game page that displays when a game is created.</h1>

Name of game: <%= game.name %>
<br>
<ul>

Players: <% game.users.forEach(function(el){ %>
  <li>
    <%= el %>
  </li>
<% }) %>
</ul>
