<h1>Photo Library Uploads</h1>

<%# games.forEach(function(u){ %>

<h2> <%# u.rounds.pics.url %></h2>

<%# }) %>
<% pics.forEach(function(p) { %>
  <% if(p && p.url) { %>
  <img src="<%= p.url %>">
  <% } else { %>
    "no image supplied"
  <% } %>
<% }) %>
