<h1 class="text-center">Photos</h1>

<%# games.forEach(function(u){ %>

<h2> <%# u.rounds.pics.url %></h2>
<%# }) %>
<% pics.forEach(function(p) { %>
  <% if(p && p.url) { %>
  <img src="<%= p.url %>" id="<%=p._id %>">
  <% } else { %>
    "no image supplied"
  <% } %>
<% }) %>

<br>

<div class="text-center">

  <a href='/game/<%= game._id%>' class="btn btn-primary btn-lg">Go Back to Game</a>

</div>
