<div id="results-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title text-center">Round <%=game.rounds.length-1%> Winner!</h1>
      </div>
      <div class="modal-body text-center">

          <img src="<%=game.winners[game.rounds.length-2].url%>"><br>
          <h3><%=game.winners[game.rounds.length-2].user.local.name%></h3>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>$('#results-modal').modal()
</script>
