<h1 class="text-center">Photos</h1>
<nav aria-label="...">
  <ul class="pager">
    <li id="allPhotos"><a href="/game/<%=game._id%>/library">All</a></li>
    <li id="winners"><a href="/winning_pics">Winners</a></li>
  </ul>
</nav>


<div class="photoArea">
  <%game.winners.forEach(function(w){%>
    <img src= "<%=w.url%>" >
    <%})%>

  <br>
</div>

<div class="text-center">

  <a href='/game/<%= game._id%>' class="btn btn-primary btn-lg">Go Back to Game</a>

</div>
