body{
  background: url('/images/background-gradient.jpg');
  background-size: cover;
}
.login{
  background: white;
  border: 10px solid black;
  border-radius: 40px;
}
.userName{
  display: inline-block;
  width: 16%;
}
.gameWord{
  padding: 100px 0px;
}

.icon{
  width:40px;
  height: 40px;
}

.photoWidth{
  width: 33.3%;
}
.photoWidth:hover{
  cursor: pointer;
  border: solid 1px #CCC;
  box-shadow: 1px 1px 5px #999;
}
.word{
  width: 300px;
}
.findImg{
  height: 30px;
  width: 100px;
}
.photosToPick{
  width:16.67%;
  transition: 0.2s;
}
.photosToPick:hover{
  cursor: pointer;
  width: 30%;
  height: 30%;
  border: solid 1px #CCC;
  box-shadow: 1px 1px 5px #999;
}
.green{
  color: green;
}
.gameWord{
  font-family: 'Bungee Inline', cursive;
}



@media screen and (max-width: 1090px) {
  .userName{
    padding: 10px 20px;
  }
}

.icon-arrow-right {
float: right;
margin-top: 2px;
margin-right: -6px;
}
